{% extends 'base.html' %}

{% block title %}All Banners{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0">All Staff</h3>
        <a href="{% url 'addstaff_user' %}" class="btn btn-primary">+ Add Staff</a>
    </div>

    {% if users %}
    <div class="table-responsive shadow rounded">
        <table class="table table-hover align-middle text-center mb-0">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {{ user.name }}

                    </td>
                    <td>{{ user.phone_number }}</td>
                    <td>
                        <a href="{% url 'editstaff' user.id %}" class="btn btn-sm btn-outline-danger"
                            onclick="return confirm('Are you sure you want to edit this staff?');">
                            ✏Edit
                        </a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info mt-4">No Staff added yet</div>
    {% endif %}
</div>
{% endblock %}