{% extends 'main.html' %}
{% block title %} About us Page {% endblock %}
{% block content %}
<section class="about-ussection">
  <div class="container">
    <div>
      <div class="title-bods">
        <a href="#">home</a>
        <a href="#">/</a>
        <a href="#"> About Us</a>
      </div>
      <div class="aboutus-titleuser">
        <h2>About Us</h2>
      </div>
    </div>
  </div>
</section>

<section class="count-section">
  <div class="container">
    <div class="countermain">
      <div class="coundetmain-box">
        <div class="shariuimg">
          <img src="media/images/shart-img.png" alt="">
        </div>
        <div>
          <div class="counters">
            <div class="counter wjsqw" data-count="50000">0</div>
            <div class="wjsqw">+</div>
          </div>
          <div class="shirts-title">
            <p>Shirts Washed</p>
          </div>
        </div>
      </div>
      <div class="coundetmain-box">
        <div class="shariuimg">
          <img src="media/images/pireshimg.png" alt="">
        </div>
        <div>
          <div class="counters">
            <div class="counter wjsqw" data-count="50">0</div>

            <!-- <div class="wjsqw"></div> -->
          </div>
          <div class="shirts-title">
            <p>Washing Machines</p>
          </div>
        </div>
      </div>
      <div class="coundetmain-box">
        <div class="shariuimg">
          <img src="media/images/bookingimgiocn.png" alt="">
        </div>
        <div>
          <div class="counters">
            <div class="counter wjsqw" data-count="10000">0</div>
            <div class="wjsqw">+</div>
          </div>
          <div class="shirts-title">
            <p>Electric Iron</p>
          </div>
        </div>
      </div>
      <div class="coundetmain-box">
        <div class="shariuimg">
          <img src="media/images/starmain.png" alt="">
        </div>
        <div>
          <div class="counters">

            <div class="counter wjsqw" data-count="100">0</div>
            <div class="wjsqw">%</div>
          </div>
          <div class="shirts-title">
            <p>Happy Customers</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="passionateaboutsec">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="more-tahn-of">
          <strong>[ Our History ]</strong>
          <h3>Laundry & Dry Cleaning Foundation</h3>
          <p>Founded in 1990, we follow a dream and an We aim to serve our customers in a way that far exceeds
            expectation. Being one of the leading laundry service providers, we know our customers’ mindset. It is
            not easy to come home from a hectic day at the office and rush to the nearest laundry service with your
            clothes. So, we have an array of services to make things easy for you.</p>
          <br>
          <p>You need not tolerate late deliveries, low standard of work merged with high prices. Our services cater
            to all your laundering and ironing, dry cleaning, shoe repairs, upholstery cleaning, etc.</p>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="booking-img">
          <img src="media/images/booking-img.png" width="100%" alt="ironissue">
          <div class="puceesh-parsent-turte">
            <div class="puceesh-parsent ">
              <h5>25</h5>
              <p>
                years of experience</p>
            </div>
          </div>
          <div class="frferfe">
            <img src="media/images/abouticonimg.png" width="138px" alt="ironissue">
          </div>
        </div>
      </div>
    </div>



  </div>
</section>
<section class="laundry-specialistssec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-lg-7 col-xl-6 ">
        <div class="teamtitlr text-center">
          <span>[ Our Team ]</span>
          <h3>Laundry Specialists</h3>
          <p>Our team’s goal each day is to earn your business with each visit and to make your experience with us
            the absolute best.</p>
        </div>
      </div>
    </div>
    <div class="home-demo">
      <div class="owl-carousel owl-theme owl-ssqwq">
        <div class="item">
          <div class="chart-titlepng text-center mt-4">
            <img src="media/images/chartes.png" alt="">
            <h4>Charles Rock</h4>
            <span>Operations Manager</span>
          </div>
        </div>
        <div class="item">
          <div class="chart-titlepng text-center mt-4">
            <img src="media/images/justin-stein.png" alt="">
            <h4>Justin Stein</h4>
            <span>Service Manager</span>
          </div>
        </div>
        <div class="item">
          <div class="chart-titlepng text-center mt-4">
            <img src="media/images/chartes.png" alt="">
            <h4>Amy Hellickson</h4>
            <span>iron Export</span>
          </div>
        </div>
        <div class="item">
          <div class="chart-titlepng text-center mt-4">
            <img src="media/images/justin-stein.png" alt="">
            <h4>Justin Stein</h4>
            <span>Service Manager</span>
          </div>
        </div>
        <div class="item">
          <div class="chart-titlepng text-center mt-4">
            <img src="media/images/chartes.png" alt="">
            <h4>Amy Hellickson</h4>
            <span>iron Export</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<section class="why-chooseus">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-lg-7 col-xl-7">
        <div class="teamtitlr text-center">
          <span>[ Our Advantages ]</span>
          <h3> Why Choose Us</h3>

        </div>
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/lightblb.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Persionalized Experience</h4>
            <p>We take utmost care of your clothes, segregating based on the cloth type and giving you instant
              clothes to make a statement. </p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/moneyoff.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Affordable Pricing</h4>
            <p>Prices that suits your pocket is one of our USP. An option of choosing between 2 types of pricing is
              available.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/viewboock.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Convenience</h4>
            <p>With just a tap of a button, your laundry gets done, giving your leisure time to spend with family
              and friends. </p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/qualitymadal.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Quality</h4>
            <p>We use the best in class products, to assure that your favorite clothes are always there for you to
              wear. </p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/exprescrsh.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Express Delivery</h4>
            <p>With our super express delivery, we would get your laundry done in less than 8 hours. </p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/convenience.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Convenience</h4>
            <p>With just a tap of a button, your laundry gets done, giving your leisure time to spend with family
              and friends.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="about-fours-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="booking-img">
          <img src="media/images/booking-img.png" width="100%" alt="ironissue">
          <div class="puceesh-parsent-turte">
            <div class="puceesh-parsent ">
              <h5>25</h5>
              <p>
                years of experience</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7 col-xl-6">
        <div class="more-tahn-of service-an">
          <strong>[ Our Guarantee ]</strong>
          <h3>The Best Guarantee in the Business</h3>
          <p>The most trusted brand in clothing care since 2011. We will do everything we can to return your clothes
            to you in great shape. In the rare instance that an item goes missing or is damaged during the cleaning
            process, we’ll reimburse you up to the full value of the item with a $1,000 maximum per order.</p>
          <a href="#">Get service now</a>
        </div>

      </div>

    </div>



  </div>
</section>



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<!-- new code js about  -->
<script>
  $('.counter').each(function () {
    var $this = $(this),
      countTo = $this.attr('data-count');

    $({ countNum: $this.text() }).animate({
      countNum: countTo
    },

      {

        duration: 8000,
        easing: 'linear',
        step: function () {
          $this.text(Math.floor(this.countNum));
        },
        complete: function () {
          $this.text(this.countNum);
          //alert('finished');
        }

      });

  });
</script>


{% endblock %}