{% extends 'main.html' %}
{% block title %} Blog Page {% endblock %}
{% block content %}
{% load static %}
<section class="about-ussection">
  <div class="container">
    <div>
      <div class="title-bods">
        <a href="#">home</a>
        <a href="#">/</a>
        <a href="/blog"> Blog </a>
      </div>
      <div class="aboutus-titleuser">
        <h2>Blog</h2>
      </div>
    </div>
  </div>
</section>
<section class="blog-tile-title">
  <div class="container">
    <div class="row">
   
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="clwnetertitle-box mt-4">
          <h2>Categories</h2>
          <ul>


            {% for cat in category %}
            <li>
              <img src="/media/images/iconsh.png" alt="seder drf">
              <a href="/blog/{{ cat.id }}">{{ cat.title }}</a>
            </li>
            {% endfor %}


          </ul>
          <div class="formsection">
            <form method="get" action="/blog">
              <h5>Search</h5>
              <div class="search-container">
                <input type="text" class="search-box" name="q" placeholder="Search" />
                <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-smg-comit">
  <div class="container">
    <div class="row">
      {% if blogs %}
      {% for blog in blogs %}
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="pressingtr-for mt-4">
          <h3>{{blog.title}}</h3>

          <div class="d-flex align-items-center kumbh-title gap-4">
            <span>{{blog.created_date}}</span>
            <p> <img src="/media/images/pressingtr-for.png" width="24px" alt=""> 2</p>
          </div>
          <img src="{{blog.image}}" width="100%" alt="">
          <p>{{blog.content}}</p>
          <a href="#">Read More</a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No results found for "{{ request.GET.q }}"</p>
      {% endif %}

    </div>
  </div>
</section>

{% endblock %}