{% extends 'main.html' %}
{% block title %} Blog Page {% endblock %}
{% block content %}
<section class="about-ussection">
  <div class="container">
    <div>
      <div class="title-bods">
        <a href="#">home</a>
        <a href="#">/</a>
        <a href="#"> Blog </a>
      </div>
      <div class="aboutus-titleuser">
        <h2>Blog</h2>
      </div>
    </div>
  </div>
</section>
<section class="blog-tile-title">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="pressingtr-for mt-4">
          <h3>Perfect pressing for impeccable business and evening outfits</h3>
          <div class="d-flex align-items-center kumbh-title gap-4">
            <span>May 28, 2016</span>
            <p> <img src="media/images/pressingtr-for.png" width="24px" alt=""> 0</p>
          </div>
          <img src="media/images/blogimg.png" width="100%" alt="">
          <p>Perfect pressing ensures your business and evening outfits look sharp, polished, and professional.
            interviews, or formal events. Choose precision ironing to elevate your wardrobe and </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="clwnetertitle-box mt-4">
          <h2>Categories</h2>
          <ul>
            <li><img src="media/images/iconsh.png" alt="seder drf">Clean to Perfection</li>
            <li><img src="media/images/iconsh.png" alt="seder drf">Dry Cleaning Tips</li>
            <li><img src="media/images/iconsh.png" alt="seder drf">For Children, & even Babies</li>
            <li><img src="media/images/iconsh.png" alt="seder drf">How Our Services Work</li>
            <li><img src="media/images/iconsh.png" alt="seder drf">Natural Fabric Softeners</li>
            <li><img src="media/images/iconsh.png" alt="seder drf">Top Laundry Detergents</li>
            <li><img src="media/images/iconsh.png" alt="seder drf">Uncategorized</li>
          </ul>
          <div class="formsection">
            <form>
              <h5>Search</h>
                <div class="search-container">
                  <input type="text" class="search-box" placeholder="Search" />
                  <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                  <!-- Unicode magnifying glass icon -->
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-smg-comit">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="pressingtr-for mt-4">
          <h3>Softer than a feather: we use natural components only</h3>

          <div class="d-flex align-items-center kumbh-title gap-4">
            <span>May 14, 2016</span>
            <p> <img src="media/images/pressingtr-for.png" width="24px" alt=""> 2</p>
          </div>
          <img src="media/images/imagesimg.png" width="100%" alt="">
          <p>Perfect pressing ensures your business and evening outfits look sharp, polished, and professional.
            interviews, or formal events. Choose precision ironing to elevate your wardrobe and </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="pressingtr-for mt-4">
          <h3>Softer than a feather: we use natural components only</h3>
          <div class="d-flex align-items-center kumbh-title gap-4">
            <span>May 14, 2016</span>
            <p> <img src="media/images/pressingtr-for.png" width="24px" alt=""> 2</p>
          </div>
          <img src="media/images/imagesimg.png" width="100%" alt="">
          <p>Perfect pressing ensures your business and evening outfits look sharp, polished, and professional.
            interviews, or formal events. Choose precision ironing to elevate your wardrobe and </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}