{% extends 'main.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<section class="about-ussection servicepages-1">
  <div class="container">
    <div>
      <div class="title-bods">
        <a href="#">home</a>
        <a href="#">/</a>
        <a href="#"> Blog </a>
      </div>
      <div class="aboutus-titleuser">
        <h2>Blog</h2>
      </div>
    </div>
  </div>
</section>
<section class="locstion-section">
  <div class="iframe-box">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d226077.80976928963!2d75.81459272014942!3d26.87286929185503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xcbb8cb648032e3f%3A0x276bd980279e9029!2sGlobally%20Web%20Solutions%20Pvt%20Ltd!5e1!3m2!1sen!2sin!4v1746437838058!5m2!1sen!2sin"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
<section class="conteact-pagessection">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="addresht">
          <h3>Address</h3>
          <div class="boder-bottomse"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and</p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="addresht">
          <h3>Phone</h3>
          <div class="boder-bottomse"></div>
          <p>+91-78984545121</p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="addresht">
          <h3>Email</h3>
          <div class="boder-bottomse"></div>
          <p>info@yoursitename.com</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-8 col-lg-6 col-xl-6">
        <div class="mt-4">
          <div class="dropquestion">
            <h2>Have a Question?</h2>
            <div class="sub-heading"></div>
            <h3>DROP A LINE</h3>
            <form>
              <input type="text" name="name" placeholder="Name" required>
              <input type="email" name="email" placeholder="E-mail" required>
              <textarea name="message" placeholder="Message" rows="5" required></textarea>
              <div class="checkbox">
                <input type="checkbox" id="consent" required>
                <label for="consent">I agree that my submitted data is being collected and stored.</label>
              </div>
              <button type="submit">Send a Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- owl  slider -->