{% extends 'main.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<section class="about-ussection servicepages-1">
  <div class="container">
    <div>
      <div class="title-bods">
        <a href="/">home</a>
        <a href="#">/</a>
        <a href="contact"> contact </a>
      </div>
      <div class="aboutus-titleuser">
        <h2>Blog</h2>
      </div>
    </div>
  </div>
</section>
<br></br>
<section class="conteact-pagessection">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="addresht">
          <h3>Address</h3>
          <div class="boder-bottomse"></div>
          <p>Merchant Legal entity name: ASV Enterprises
            Registered Address: H-135, Garg Colony, Ballabgarh Faridabad HARYANA 121004
            Operational Address: H-135, Garg Colony, Ballabgarh Faridabad HARYANA 121004
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="addresht">
          <h3>Phone</h3>
          <div class="boder-bottomse"></div>
          <p>+91-78984545121</p>
        </div>
      </div>


    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-8 col-lg-6 col-xl-6">
        <div class="mt-4">
          <div class="dropquestion">
            <h2>Have a Question?</h2>
            <div class="sub-heading"></div>
            <h3>DROP A LINE</h3>
            <form>
              <input type="text" name="name" placeholder="Name" required>

              <textarea name="message" placeholder="Message" rows="5" required></textarea>
              <div class="checkbox">
                <input type="checkbox" id="consent" required>
                <label for="consent">I agree that my submitted data is being collected and stored.</label>
              </div>
              <button type="submit">Send a Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- owl  slider -->