{% extends 'main.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<section class="hero_section ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8 col-xl-8">
        <div class="text-center welcometohedding">
          <h1>Welcome to The  Ironman</h1>
          <p>
            Our talented team works hard everyday to provide the best
            services for our clients. We customize our offerings based on
            specific needs, so get in touch today.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trusted-sec ">
  <div class="row g-0">
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <div class="aboutimfclas">
        <img src="media/images/aboutimg-first.png" width="" alt="ironissue" />
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <div class="aboutimfclasdes">
        <div class="about-color-tetx">
          <h3>About us</h3>
          <span>Makes You Smell Nice!</span>
          <p>
            The Ironman is a startup that is here to give our customers
            best laundry services with processing time of only 4hrs - 2
            business days with best in class service at the least possible
            prices and with free pickup and delivery! So hurry and book
            now.
          </p>
          <a href="#">Book an order ></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <div class="aboutimfclas">
        <img src="media/images/aboutimg-true.png" width="" alt="ironissue" />
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <div class="lever-day-start-work">
        <img src="media/images/lever-daystart-work.png" alt="ironissue" />
        <div class="levtart-work-text">
          <span>o</span>
          <span>u</span>
          <span>r</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <div class="aawwaa">
        <img src="media/images/hecarimg.png" alt="ironissue" />
        <div class="cheadre">
          <img src="media/images/lever-piresh.png" alt="ironissue" />
        </div>
        <div class="cheadre-textimg">
          <a href="#"><img src="media/images/whatsapp-icon.svg" alt="ironissue" /></a>
          <a href="#"> <img src="media/images/instgaram.svg" alt="ironissue" /></a>
          <a href="#"> <img src="media/images/faceboock-icon.svg" alt="ironissue" /></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <div class="lever-day-start-work">
        <img src="media/images/lever-daystart-workwe.png" alt="ironissue" />
        <div class="levtart-work-text">
          <span>s</span>
          <span>e</span>
          <span>r</span>
          <span>v</span>
          <span>i</span>
          <span>c</span>
          <span>e</span>
          <span>s</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="popular-servicesec ">
  <div class="container">
    <div class="popuilar-titletext">
      <h4>popular service</h4>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-6 col-md-6 col-lg-3 col-xl-3">
        <div class="rechtanal-img mt-4">
          <img src="{{product.image}}" alt="ironissue" />
          <div class="jecit-shop">
            <h3>{{product.title}}</h3>
            <span>iron Only</span>
            {% for item in product.price_json %}
            <h4> ₹ {{item.price}}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="passionateaboutsec">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="booking-img mt-4">
          <img src="media/images/booking-img.png" width="100%" alt="ironissue">
          <div class="frder">
            <div class="puceesh-parsent">
              <h5>25</h5>
              <p>
                years of experience</p>
            </div>
          </div>
          <div class="show-isue-iocn">
            <img src="media/images/show-isue.png" width="138px" alt="ironissue">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="more-tahn-of mt-4">
          <strong>[More than 5 Years of Experience]</strong>
          <h3>We are Passionate About Laundry</h3>
          <p>We are professionals in the laundry and dry cleaning business, which means we always stay up to date on
            the latest technologies, cleaning methods, and solutions for dealing with stains or delicate fabrics.
            Plus, we maintain the highest standards of business integrity by following local and national
            regulations and environmental safety rules. We are passionate about changing the way you think about
            laundry!</p>
        </div>
        <div class="chek-thishicon">
          <div class="chek-icons">
            <ul>
              <li><i class="fa-solid fa-check"></i>100% Customer Satisfaction</li>
              <li><i class="fa-solid fa-check"></i>Free Collection & Delivery</li>
              <li><i class="fa-solid fa-check"></i>Affordable Prices</li>
              <li><i class="fa-solid fa-check"></i>Best Quality</li>
            </ul>
          </div>
          <div class="qualityfa-phone">
            <i class="fa-solid fa-phone"></i>
            <p>Call for Quality Services</p>
            <span>+91 9642854965</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-3 col-lg-4 col-xl-4">
        <div class="classtitme-box mt-4">
          <div>
            <img src="media/images/time-wocth-iocn.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Pay Online in Seconds</h4>
            <p>No more wasted time driving to the laundromats, we pickup and deliver for free!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-4 col-xl-4">
        <div class="classtitme-box mt-4">
          <div>
            <img src="media/images/time-wocth-iocn-2.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Pay Online in Seconds</h4>
            <p>Manage your Press account and billing online from your smartphone or computer.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-4 col-xl-4">
        <div class="classtitme-box mt-4">
          <div>
            <img src="media/images/time-wocth-iocn-3.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Eco-Friendly</h4>
            <p>We use safe and clean perc-free solvents, so you, and the Earth, can look good.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trusted-laundry-servicesec">
  <div class="container">
    <div class="importent-title text-center">
      <span>Important Information</span>
      <h3>Trusted Laundry Service</h3>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 ">
        <div class="work-light-der mt-4">
          <h3>Our Approach</h3>
          <p>We approach workforce accommodations with a property development mindset. Our “Develop. Own. Operate.”
            business model produces integrated solutions that enable clients to focus on their core business.</p>
          <p>Clients benefit from consistent service delivery with greater cost and quality control as well as more
            efficient use of their operational and financial resources.</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 ">
        <div class="video-taghyuhhd mt-4">
          <img src="media/images/videoimgtag.png" width="100%" alt="ironissue">
          <div class="playabsolute">
            <div class="playvideo" data-bs-toggle="modal" data-bs-target="#exampleMode">
              <i class="fa-solid fa-play"></i>
            </div>
            <!-- Modal -->
            <div class="modal fade " id="exampleMode" tabindex="-1" aria-labelledby="exampleMode" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <iframe width="100%" height="415"
                      src="https://www.youtube.com/embed/TiFYnc7SWao?si=ywKqvXi6Uf2VW3N4&autoplay"
                      title="YouTube video player" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                  </div>
                  <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/goldmedal.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>High Quality</h4>
            <p>High Quality means superior standards, durability, and excellence—ensuring reliable performance, </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/time-wocth-iocn.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Cleaner & Greener</h4>
            <p>Cleaner & Greener is a movement focused on creating a healthier and more sustainable environment by
              promoting </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="classtitme-box mt-4">
          <div class="title-boxsde">
            <img src="media/images/time-wocth-iocn.png" width="45px" alt="ironissue">
          </div>
          <div class="save-titlemony">
            <h4>Happiness Guarantees</h4>
            <p>Happiness Guarantees is a promise of joy, peace, and well-being in every experience. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tap-clean-deliver ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="evenfaster mt-4">
          <h4>[ Order even faster ]</h4>
          <h3>Tap. Clean. Deliver.</h3>
          <p>Download the our app and request our laundry service. Your clothes washed, folded and delivered to your
            doorstep. So go ahead and say yes to more time with the family, more happy hours, and more slapping the
            snooze button every morning — we've got laundry day covered.</p>
          <div class="appimgstor">
            <a href="https://play.google.com/" target="_blank"> <img src="media/images/googlepayimg.png"> </a>
            <a href="https://apps.apple.com/in/developer/apple/id284417353?mt" target="_blank"><img
                src="media/images/appstor-img.png"></a>
          </div>
          <div class="mymobilemore-tileiocn">
            <img src="media/images/mymobilemore.png" alt="ironissue">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="mt-4">
          <a href="#" width="100%"><img src="media/images/logotypemobileicon.png" width="100%" alt="ironissue"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="qualityCollection-delivery">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 ">
        <div class="delivery-Collection text-end">
          <h3>Quality Service with
            Free <strong>Collection & Delivery</strong></h3>
          <p>It is our goal to offer you the best possible laundry and dry cleaning service available.</p>
          <span>+91 9642854965</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 ">
        <div class="desivder">
          <img src="media/images/delivery-ironcars.png" width="100%" alt="ironissue">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="locationlaundry">
  <div class="wsder">
    <div class="iframeaapman">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190087.26510816332!2d75.79055784999998!3d26.885210750000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xcbb8cb648032e3f%3A0x276bd980279e9029!2sGlobally%20Web%20Solutions%20Pvt%20Ltd!5e1!3m2!1sen!2sin!4v1746252489435!5m2!1sen!2sin"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
{% endblock %}