{% extends 'main.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<section class="hero_section ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8 col-xl-8">
        <div class="text-center welcometohedding">
          <h1>Welcome to The  Gentle</h1>
          <p>
            Our talented team works hard everyday to provide the best
            services for our clients. We customize our offerings based on
            specific needs, so get in touch today.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popular-servicesec ">
  <div class="container">
    <div class="popuilar-titletext">
      <h4>popular service</h4>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-6 col-md-6 col-lg-3 col-xl-3">
        <div class="rechtanal-img mt-4">
          <img src="{{product.image}}" alt="ironissue" />
          <div class="jecit-shop">
            <h3>{{product.title}}</h3>
            <span>iron Only</span>
            {% for item in product.price_json %}
            <h4> ₹ {{item.price}}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="tap-clean-deliver ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="evenfaster mt-4">
          <h4>[ Order even faster ]</h4>
          <h3>Tap. Clean. Deliver.</h3>
          <p>Download the our app and request our Iron service. Your clothes Iron, folded and delivered to your
            doorstep. So go ahead and say yes to more time with the family, more happy hours, and more slapping the
            snooze button every morning — we've got laundry day covered.</p>
          <div class="appimgstor">
            <a href="https://play.google.com/" target="_blank"> <img src="media/images/googlepayimg.png"> </a>
           
          </div>
          <div class="mymobilemore-tileiocn">
            <img src="media/images/mymobilemore.png" alt="ironissue">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="mt-4">
          <a href="#" width="100%"><img src="media/images/logotypemobileicon.png" width="100%" alt="ironissue"></a>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}