<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="media/css/iroon.css" />
  <link rel="icon" href="media/images/favicon-icons.png" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

</head>

<body class="homehtml aboutus servicees price blog contact-one contact-true">
  <div class="main-project" id="lendding-pages">
    <headre class="header satrtcode">
      <nav class="navbar navbar-expand-lg p-0">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="media/images/logo-project.svg" width="56px" alt="ironissue" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-expand-navs" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Prices </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">About us</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fa-brands fa-square-facebook"></i></a>
              </li>
            </ul>
            <form class="d-flex form-topheadre" role="searc">
              <div class="form-login">
                <a href="#"><i class="fa-solid fa-user"></i> Log In</a>
              </div>
              <button class="btn" type="submit">Schedule a pickup</button>
            </form>
          </div>
        </div>
      </nav>
    </headre>
    {% block content %}
    {% endblock %}

    <footer class="footerssection">
      <div class="container">
        <div class="borerbootom-footer">
          <div class="row">
            <div class="col-4">
              <div class="firstboxsing mt-4">
                <a href="#"><img src="media/images/footerimges.png" alt="ironissue"></a>
                <p>We are professionals in the laundry and dry cleaning business,
                  which means we always stay up to date on the
                  latest technologies and cleaning methods.</p>
                <div class="whatsapp-boxtitle">
                  <a href="#"> <i class="fa-brands fa-whatsapp"></i></a>
                  <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="contact-list mt-4">
                <ul>
                  <li><strong>Contact Info</strong></li>
                  <li><a href="#"><span>+91-9642854965</span></a></li>
                  <li><a href="#">info@yourlaundrysite.com</a></li>
                  <li><a href="#">Lorem Ipsum is simply dummy text of the printing and</a></li>
                </ul>
              </div>
            </div>
            <div class="col-4">
              <div class="contact-list mt-4">
                <ul>
                  <li><strong>Newsletter Subscribe</strong></li>
                  <li><a href="#">Sign up and receive our special offers.</a></li>
                  <li><a href="#">Clearing Maintenance </a></li>
                  <li>
                    <form>
                      <input type="email" placeholder="Your e-mail address" />
                      <button type="submit">Subscribe now</button>
                    </form>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
    </footer>
    <!-- move code  -->
    <div class="">
      <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script>
    const btn = document.getElementById("topBtn");
    window.onscroll = () => btn.style.display = window.scrollY > 200 ? "block" : "none";
    const topFunction = () => window.scrollTo({ top: 0, behavior: "smooth" });
  </script>




</body>

</html>