{% extends 'main.html' %}
{% block title %} Price Page {% endblock %}
{% block content %}

<section class="about-ussection servicepages-1">
  <div class="container">
    <div>
      <div class="title-bods">
        <a href="#">home</a>
        <a href="#">/</a>
        <a href="/price"> Prices </a>
      </div>
      <div class="aboutus-titleuser">
        <h2>Prices</h2>
      </div>
    </div>
  </div>
</section>
<section class="price-section-1">
  <div class="container">
    <div class="home-demo">
      <div class="owl-carousel owl-theme oarousel">
        {% for product in products %}
        <div class="item">
          <div class="text-centerhum mt-4">
            <div class="text-center main-boxsing">
              <img src="{{product.image}}" width="114px" alt="">
              <div class="shirstservice text-center">
                <h5>{{product.title}}</h5>
                <span>Iron only</span>
                {% for item in product.price_json %}
                <h4>₹{{item.price}}</h4>
                {% endfor %}
              </div>
              <div class="ordernowbutton">
                <a href="#">Order Now</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="picesection-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 col-xl-7">
        <div class="teamtitlr text-center">
          <span>[ Our Service Prices ]</span>
          <h3>Full Price Table</h3>
          <p>Laundry service pricing is volume based. Give us a call to review pricing and services today!</p>
          <a href="#">Most Popular Items</a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="shirtlaunderand mt-4">
          {% for product in left_column %}
          <div class="pricemanan {% if forloop.counter0|divisibleby:2 %}whitetitle{% endif %}">
            <p>{{ product.title }}</p>
            {% for item in product.price_json %}
            <p>₹{{ item.price }}</p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="shirtlaunderand mt-4">
          {% for product in right_column %}
          <div class="pricemanan {% if forloop.counter0|divisibleby:2 %}whitetitle{% endif %}">
            <p>{{ product.title }}</p>
            {% for item in product.price_json %}
            <p>₹{{ item.price }}</p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</div>
{% endblock %}