{% extends 'main.html' %}
{% block title %} Service Page {% endblock %}
{% block content %}
<section class="about-ussection servicepages-1">
  <div class="container">
    <div>
      <div class="title-bods">
        <a href="/">home</a>
        <a href="#">/</a>
        <a href="/servicees"> Service </a>
      </div>
      <div class="aboutus-titleuser">
        <h2>Single Service</h2>
      </div>
    </div>
  </div>
</section>
<section class="servicepages-11">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5 col-xl-5">
        <div class="buttonssed mt-4">
          <button class="actives" onclick="showDiv(0)">Steam Iron</button>
          <button onclick="showDiv(1)">Normal Iron</button>
          
          
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-7 col-xl-7">
        <!-- click button img show chen but some img cheng  -->
        <div id="divs" class="mt-4">
          <div class="content-divsed showde "> <img src="media/images/activefunstion.png" width="100%" alt=""></div>
          <div class="content-divsed"> <img src="media/images/activefunstion.png" width="100%" alt=""></div>
          <div class="content-divsed"> <img src="media/images/activefunstion.png" width="100%" alt=""></div>
          <div class="content-divsed"> <img src="media/images/activefunstion.png" width="100%" alt=""></div>
          <div class="content-divsed"> <img src="media/images/activefunstion.png" width="100%" alt=""></div>
          <div class="content-divsed"> <img src="media/images/activefunstion.png" width="100%" alt=""></div>
        </div>
      </div>
    </div>


  </div>
</section>
<section class="popular-servicesec ">
  <div class="container">
    <div class="popuilar-titletext">
      <h4>popular service</h4>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-6 col-md-6 col-lg-3 col-xl-3">
        <div class="rechtanal-img mt-4">
          <img src="{{product.image}}" alt="ironissue" />
          <div class="jecit-shop">
            <h3>{{product.title}}</h3>
            <span>iron Only</span>
            {% for item in product.price_json %}
            <h4> ₹ {{item.price}}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- new code js service   -->
<script>
  function showDiv(index) {
    const buttonssed = document.querySelectorAll('.buttonssed button');
    const divs = document.querySelectorAll('.content-divsed');

    buttonssed.forEach((btn, i) => {
      btn.classList.toggle('actives', i === index);
      divs[i].classList.toggle('showde', i === index);
    });
  }
</script>
{% endblock %}