{% extends 'main.html' %}
{% block title %} Shipping & Delivery Policy - ASV Enterprises {% endblock %}
{% block content %}
 <section class="about-ussection">
    <div class="container">
      <div class="title-bods">
        <a href="/">Home</a> /
        <a href="#">Legal</a> /
        <a href="#" style="font-weight: bold;">Shipping & Delivery Policy</a>
      </div>
      <div class="aboutus-titleuser">
        <h2>Shipping & Delivery Policy</h2>
      </div>
    </div>
  </section>

  <!-- Main Content Section -->
  <section class="trusted-laundry-servicesec">
    <div class="container">
      <div class="work-light-der">
        <p>
          For International buyers, orders are shipped and delivered through registered international courier companies and/or International speed post only.
        </p>
        <p>
          For domestic buyers, orders are shipped through registered domestic courier companies and/or speed post only.
        </p>
        <p>
          Orders are shipped within 0–7 days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to courier company/post office norms.
        </p>
        <p>
          ASV Enterprises is not liable for any delay in delivery by the courier company or postal authorities and only guarantees to hand over the consignment to the courier company or postal authorities within 0–7 days from the date of the order and payment, or as per the delivery date agreed at the time of order confirmation.
        </p>
        <p>
          Delivery of all orders will be made to the address provided by the buyer.
        </p>
        <p>
          Delivery of our services will be confirmed on your email ID as specified during registration.
        </p>
        <p>
          For any issues in utilizing our services, you may contact our helpdesk.
        </p>
      </div>
    </div>
  </section>

{% endblock %}