{% extends 'main.html' %}
{% block title %} Terms & Conditions {% endblock %}
{% block content %}
<section class="about-ussection">
    <div class="container">
        <div class="title-bods">
            <a href="/">Home</a> /
            <a href="#">Legal</a> /
            <a href="/terms" style="font-weight: bold;">Terms & Conditions</a>
        </div>
        <div class="aboutus-titleuser">
            <h2>Terms & Conditions</h2>
        </div>
    </div>
</section>
<section class="trusted-laundry-servicesec">
    <div class="container">
        <div class="work-light-der">
            <p>
                For the purpose of these Terms and Conditions, The term "we", "us", "our" used anywhere on this page
                shall mean <strong>ASV Enterprises</strong>, whose registered/operational office is H-135, Garg Colony,
                Ballabgarh Faridabad HARYANA 121004. "you", “your”, "user", “visitor” shall mean any natural or legal
                person who is visiting our website and/or agreed to purchase from us.
            </p>
            <p>Your use of the website and/or purchase from us are governed by the following Terms and Conditions:</p>
            <ul class="chek-icons">
                <li><i class="fa fa-check"></i> The content of the pages of this website is subject to change without
                    notice.</li>
                <li><i class="fa fa-check"></i> Neither we nor any third parties provide any warranty or guarantee as to
                    the accuracy, timeliness, performance, completeness or suitability of the information and materials
                    found or offered on this website for any particular purpose.</li>
                <li><i class="fa fa-check"></i> Your use of any information or materials on our website and/or product
                    pages is entirely at your own risk, for which we shall not be liable.</li>
                <li><i class="fa fa-check"></i> Our website contains material which is owned by or licensed to us.
                    Reproduction is prohibited other than in accordance with the copyright notice.</li>
                <li><i class="fa fa-check"></i> All trademarks reproduced in our website which are not the property of,
                    or licensed to, the operator are acknowledged on the website.</li>
                <li><i class="fa fa-check"></i> Unauthorized use of information provided by us shall give rise to a
                    claim for damages and/or be a criminal offense.</li>
                <li><i class="fa fa-check"></i> Any dispute arising out of use of our website and/or purchase with us is
                    subject to the laws of India.</li>
                <li><i class="fa fa-check"></i> We shall be under no liability whatsoever in respect of any loss or
                    damage arising out of the decline of authorization for any transaction.</li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}